@media screen and (max-width:2560px) {

  /* Top bar */
  .top-bar {
    background-color: #E40B00;
    position: absolute;
    width: 100%;
    height: 216px;
    left: 0px;
    top: 0px;
  }
  /* Logo */
  #logo_forgot {
    position: absolute;
    width: 180px;
    height: 185.61px;
    margin-left: 13.95%;
    margin-top: 17.5px;
  }

  /* Text in top bar */
  .top-bar h1{
    color: #FBFF25;
    position: absolute;
    width: 1070px;
    height: 183px;
    left: 21%;
    top: -10px;
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 120px;
    display: block;
    align-items: center;
    text-align: center;
  }

  .change_pass{
    position: absolute;
    width: 777px;
    height: 471px;
    left: 25%;
    top: 304px;

    background: #E40B00;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 30px;
    font-size: 32px ;
         
  }
  #citizenID{
    position: absolute;
    height: 50px;
    left: 170px;
    top: 75px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    
  }
  #citizenID_box{
    position: absolute;
    width: 340px;
    height: 55px;
    left: 330px;
    top: 65px;

    background: #FFFFFF;
    border: #FFFFFF;
    border-radius: 31.5px;
    line-height: 30;      
  }
  #citizenID_box[type="text"] {
    font-size: 20px;
    padding-left: 30px; 
  }
  #new_pass{
    position: absolute;
    height: 50px;
    left: 119px;
    top: 172px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
  }
  #new_pass_box{
    position: absolute;
    width: 340px;
    height: 55px;
    left: 330px;
    top: 160px;

    background: #FFFFFF;
    border: #FFFFFF;
    border-radius: 31.5px;
    line-height: 30;      
  }
  #new_pass_box[type="password"] {
    font-size: 20px;
    padding-left: 30px; 
  }

  #con_pass{
    position: absolute;
    width: 400px;
    height: 50px;
    left: 70px;
    top: 267px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
           
  }
  #con_pass_box{
    position: absolute;
    width: 340px;
    height: 55px;
    left: 330px;
    top: 255px;

    background: #FFFFFF;
    border: #FFFFFF;
    border-radius: 31.5px;
    line-height: 30;          
  }
  #con_pass_box[type="password"] {
    font-size: 20px;
    padding-left: 30px; 
  }
  #changePass{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: white;
  }
  #changePassButton{
    position: absolute;
    width: 320px;
    height: 50px;
    left: 228.5px;
    top: 370px;      
    border-radius: 31.5px;
    background-color: #241C1C;
    border: #241C1C;
  }
  #BackText{
    font-family: 'Mulish';
    font-style: normal;
    font-size: 15px;
    font-weight: 700;
    color: white;
  }
  #BackButton{
    position: absolute;
    width: 75px;
    height: 25px;
    left: 18px;
    top: 15px;      
    border-radius: 31.5px;
    background-color: #241C1C;
    border: #241C1C;
  }
}

@media screen and (min-width:1920px) and (max-width:2500px) {

  /* Top bar */
  .top-bar {
    background-color: #E40B00;
    position: absolute;
    width: 100%;
    height: 216px;
    left: 0px;
    top: 0px;
  }
  /* Logo */
  #logo_forgot {
    position: absolute;
    width: 180px;
    height: 185.61px;
    margin-left: 20%;
    margin-top: 1%;
  }

  /* Text in top bar */
  .top-bar h1{
    color: #FBFF25;
    position: absolute;
    width: 1070px;
    height: 183px;
    left: 21%;
    top: -10px;
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 120px;
    display: block;
    align-items: center;
    text-align: center;
  }

  .change_pass{
    position: absolute;
    width: 777px;
    height: 471px;
    left: 572px;
    top: 304px;

    background: #E40B00;
    border-radius: 30px;
    font-size: 32px ;
         
  }
  #citizenID{
    position: absolute;
    height: 50px;
    left: 170px;
    top: 75px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    
  }
  #citizenID_box{
    position: absolute;
    width: 340px;
    height: 55px;
    left: 330px;
    top: 65px;

    background: #FFFFFF;
    border: #FFFFFF;
    border-radius: 31.5px;
    line-height: 30;      
  }
  #citizenID_box[type="text"] {
    font-size: 20px;
    padding-left: 30px; 
  }
  #new_pass{
    position: absolute;
    height: 50px;
    left: 119px;
    top: 172px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
  }
  #new_pass_box{
    position: absolute;
    width: 340px;
    height: 55px;
    left: 330px;
    top: 160px;

    background: #FFFFFF;
    border: #FFFFFF;
    border-radius: 31.5px;
    line-height: 30;      
  }
  #new_pass_box[type="password"] {
    font-size: 20px;
    padding-left: 30px; 
  }

  #con_pass{
    position: absolute;
    width: 400px;
    height: 50px;
    left: 70px;
    top: 267px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
           
  }
  #con_pass_box{
    position: absolute;
    width: 340px;
    height: 55px;
    left: 330px;
    top: 255px;

    background: #FFFFFF;
    border: #FFFFFF;
    border-radius: 31.5px;
    line-height: 30;          
  }
  #con_pass_box[type="password"] {
    font-size: 20px;
    padding-left: 30px; 
  }
  #changePass{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: white;
  }
  #changePassButton{
    position: absolute;
    width: 320px;
    height: 50px;
    left: 228.5px;
    top: 370px;      
    border-radius: 31.5px;
    background-color: #241C1C;
    border: #241C1C;
  }
  #BackText{
    font-family: 'Mulish';
    font-style: normal;
    font-size: 15px;
    font-weight: 700;
    color: white;
  }
  #BackButton{
    position: absolute;
    width: 75px;
    height: 25px;
    left: 18px;
    top: 15px;      
    border-radius: 31.5px;
    background-color: #241C1C;
    border: #241C1C;
  }
}