@media screen and (max-width:2560px) {

    /* Side bar */
    .side-bar {
        position: absolute;
        width   : 300px;
        height  : 1080px;
        left    : 0px;
        top     : 0px;

        background: #DC0B00;
    }

    #line {
        position: absolute;
        width   : 300px;
        height  : 0px;
        left    : 0px;
        top     : 240px;

        border: 2px solid #FFFFFF;
    }

    #search {
        position : absolute;
        width    : 200px;
        height   : 50px;
        left     : 50px;
        top      : 290px;
        font-size: 17px;

        border       : #FFFFFF;
        background   : #FFFFFF;
        border-radius: 31.5px;
    }

    #quota {
        position : absolute;
        width    : 200px;
        height   : 50px;
        left     : 50px;
        top      : 365px;
        font-size: 17px;

        border       : #FFFFFF;
        background   : #FFFFFF;
        border-radius: 31.5px;
    }

    #payment {
        position : absolute;
        width    : 200px;
        height   : 50px;
        left     : 50px;
        top      : 440px;
        font-size: 17px;

        background   : #FFFFFF;
        border       : #FFFFFF;
        border-radius: 31.5px;
    }

    #logout {
        position : absolute;
        width    : 200px;
        height   : 50px;
        left     : 50px;
        top      : 981px;
        font-size: 17px;

        border       : #FFFFFF;
        background   : #FFFFFF;
        border-radius: 31.5px;
    }

    /* Content in Web page */
    #university {
        position: absolute;
        width   : 1100px;
        height  : 465px;
        left    : 350px;
        top     : 50px;

        font-family: 'Mulish';
        font-style : normal;
        font-weight: 400;
        font-size  : 96px;
        line-height: 120px;
        align-items: center;

        color: #FF0000;

        mix-blend-mode: normal;
    }

    #welcome {
        position: absolute;
        width   : 1100px;
        height  : 465px;
        left    : 350px;
        top     : 160px;

        font-family: 'Mulish';
        font-style : normal;
        font-weight: 400;
        font-size  : 96px;
        line-height: 120px;
        align-items: center;

        color: #245564;

        mix-blend-mode: normal;
    }

    #line2 {
        position: absolute;
        width   : 1100px;
        height  : 0px;
        left    : 350px;
        top     : 400px;

        border: 3px solid #000000;
    }

    #name {
        position: absolute;
        width   : 1100px;
        height  : 465px;
        left    : 350px;
        top     : 250px;

        font-family: 'Mulish';
        font-style : normal;
        font-weight: 600;
        font-size  : 36px;
        line-height: 45px;
        display    : flex;
        align-items: center;

        color: #000000;

        mix-blend-mode: normal;
    }

    #time-bar {
        position   : absolute;
        width      : 300px;
        height     : 50px;
        margin-left: 0px;
        top        : 930px;

        font-size: 30px;
        color    : #fff000;
    }
}

@media screen and (min-width:1920px) and (max-width:2500px) {

    /* Side bar */
    .side-bar {
        position: absolute;
        width   : 384px;
        height  : 1080px;
        left    : 0px;
        top     : 0px;

        background: #DC0B00;
    }

    #line {
        position: absolute;
        width   : 384px;
        height  : 0px;
        left    : 0px;
        top     : 240px;

        border: 3px solid #FFFFFF;
    }

    #search {
        position: absolute;
        width   : 300px;
        height  : 50px;
        left    : 42px;
        top     : 280px;

        border       : #FFFFFF;
        background   : #FFFFFF;
        border-radius: 31.5px;
    }

    #quota {
        position: absolute;
        width   : 300px;
        height  : 50px;
        left    : 42px;
        top     : 365px;

        border       : #FFFFFF;
        background   : #FFFFFF;
        border-radius: 31.5px;
    }

    #payment {
        position: absolute;
        width   : 300px;
        height  : 50px;
        left    : 42px;
        top     : 450px;

        background   : #FFFFFF;
        border       : #FFFFFF;
        border-radius: 31.5px;
    }

    #logout {
        position: absolute;
        width   : 300px;
        height  : 50px;
        left    : 42px;
        top     : 981px;

        border       : #FFFFFF;
        background   : #FFFFFF;
        border-radius: 31.5px;
    }

    /* Content in Web page */
    #university {
        position: absolute;
        width   : 1019px;
        height  : 465px;
        left    : 450px;
        top     : 50px;

        font-family: 'Mulish';
        font-style : normal;
        font-weight: 400;
        font-size  : 96px;
        line-height: 120px;
        align-items: center;

        color: #FF0000;

        mix-blend-mode: normal;
    }

    #welcome {
        position: absolute;
        width   : 1019px;
        height  : 465px;
        left    : 450px;
        top     : 160px;

        font-family: 'Mulish';
        font-style : normal;
        font-weight: 400;
        font-size  : 96px;
        line-height: 120px;
        align-items: center;

        color: #245564;

        mix-blend-mode: normal;
    }

    #line2 {
        position: absolute;
        width   : 1300px;
        height  : 0px;
        left    : 450px;
        top     : 400px;

        border: 3px solid #000000;
    }

    #name {
        position: absolute;
        width   : 1019px;
        height  : 465px;
        left    : 450px;
        top     : 250px;

        font-family: 'Mulish';
        font-style : normal;
        font-weight: 600;
        font-size  : 36px;
        line-height: 45px;
        display    : flex;
        align-items: center;

        color: #000000;

        mix-blend-mode: normal;
    }

    #time-bar {
        position   : absolute;
        width      : 300px;
        height     : 50px;
        margin-left: 50px;
        top        : 930px;

        font-size: 30px;
        color    : #fff000;
    }
}